# Python bytecode and cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/
ENV/

# Django/pytest caches
*.log
.python-version
.pytest_cache/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
